@font-face
    font-family 'Avenir Bolder'
    font-style normal
    font-weight normal
    src local('Avenir Bolder'), url('../fonts/AvenirLTStd-Black.woff') format('woff')

@font-face
    font-family 'Avenir Light'
    font-style normal
    font-weight normal
    src local('Avenir Light'), url('../fonts/AvenirLTStd-Book.woff') format('woff')

@font-face
    font-family 'Avenir Bold'
    font-style normal
    font-weight normal
    src local('Avenir Bold'), url('../fonts/AvenirLTStd-Heavy.woff') format('woff')

@font-face
    font-family 'Avenir Lighter'
    font-style normal
    font-weight normal
    src local('Avenir Lighter'), url('../fonts/AvenirLTStd-Light.woff') format('woff')

@font-face
    font-family 'Avenir Normal'
    font-style normal
    font-weight normal
    src local('Avenir Normal'), url('../fonts/AvenirLTStd-Medium.woff') format('woff')

@font-face
    font-family 'Avenir 500'
    font-style normal
    font-weight normal
    src local('Avenir 500'), url('../fonts/AvenirLTStd-Roman.woff') format('woff')