nav.header_nav {
    @include flex_box()

    img {
        @include flex(1 2 100%)
    }

    ul {
        @include flex(3 1 100%)
        @include flex_box()
        @include just_content(space-around)
        @include align_items(center)
        list-style: none;

        li > a {
            text-decoration: none;
        }
    }
}