.box {
    @include flex_box();
    @include flex_direction(column-reverse);
    // @include align_items(center);
    // @include just_content(center);
    // @include flex_flow(row wrap);
    // @include align_content(stretch);

    height: 150px;
    width: 400px;
    border: 1px solid #888;

    .small {
        background-color: #fafafa;
        border: 1px solid #888;
        height: 80px;
    }

    :first-child {
        @include flex(3 1 100px)
    }
    :last-child {
        @include flex(1 2 100px)
    }
}

.animated{
    @include box_shadow(inset 0 0 1em gold, 0 0 1em red);
    @include durations(1s);
    @include iteration(infinite);

    animation-name: bounce;
    height: 100px;
    width:  100px;
    background-color: red;
}