.headerMain 
    display block
    background white
    height 100vh
    
    &__box 
        padding-top 2rem
        padding-bottom 2.5rem
    
    &__left 
        display inline-block
        
        &--top
            background-color blue
            
        &--bottom
            background-color purple

    &__right 
        display inline-block
        
        &:hover
            background salmon

        

.Containner
    height 100vh
    padding-top 60px
    box-sizing border-box
    background-repeat no-repeat
    background-size cover
    background-image url("../images/logo.svg")
    display block
    
    &__box
        display block
        background-color salmon
    
    &__aside
        display inline-block
        background-color yellow
        
    &__public
        display inline-block
        background-color salmon
        
        &--top
            display block
            border-radius 10px
        
        &--bottom
            display block
            border-radiues 10px
            
            .item
                font-size 2.2rem
                color purple
            

.ContentMap
        &__box
            height 100%
            width 100%
            
        &__btnBottom
            position absolute
            z-index 40
            bottom 20px
            right 60px
            
            &--containner
                position relative
                // z-index 90 !important
                .BtnPlus
                    cursor pointer
                    width 40px
                    height 40px
                    display flex
                    justify-content center
                    align-items center
                    background-color #3a3a3a
                    box-shadow 1px 1px 3px gray
                    border-radius 50%
                    
                    span
                        font-size 15px
                        color white
                        
                .BtnList
                    position absolute
                    bottom 20px
                    right 0
                    padding 0 5px
                    list-style none
                    display none
                    overflow hidden
                    
                    li
                        cursor pointer
                        display flex
                        justify-content center
                        align-items center
                        width 30px
                        height 30px
                        margin-bottom 1em
                        color white
                        border-radius 50%
                        background-color #3a3a3a
                        box-shadow 1px 1px 3px gray
                        
.selectBox
    position relative
    border 1px solid #ccc
    width 100%
    overflow hidden
    background-color #fff
    border-radius 5px
    
    &:before
        content ''
        position absolute
        right 8px
        top 12px
        width 0
        height 0
        border-style solid
        border-width 7px 5px 0 5px
        border-color #656565 transparent transparent transparent
        z-index 5
        pointer-events none
        
    &__select
        padding 5px 25px 5px 5px
        cursor pointer
        background transparent
        width 100%
        border 0
        border-radius 0
        -webkit-appearance none
        font-family AvenirLighter
        cursor pointer
        font-size 15px
        line-height 19px
        color #4c4c4c
        outline none
        
        &:disabled
            color #989898
            
        &:hover
            color salmon


.Containner
    display flex
    justify-content space between
    flex-wrap wrap
    
    &__left
        height 100%
        width 35%
        overflow-y auto
        position relative
        
        &::after
            color red

    &__right
        height 100%
        width 65%
        
        &--mapCanvas
            width 100%
            height 100%
            

@media all and (min-width 1366px)
    .Containner
        &__left
            width 478px
            z-index 1
            
        &__right
            position absolute 
            width 100%
            padding-left 478px
            padding-top 60px
            top 0
            box-sizing border-box
            z-index 0
            
            h3 
                color salmon
            
            p
                color yellow
        
        &__other
            display flex
            justify-content space-around
            flex-wrap wrap
            
            &--left, &--right
                width 50%
                padding 5px
                
                .title
                    font-family AvenirBold
                    color Gris_Bolder
                    
                .text
                    font-family AvenirLighter
                    color Gris_lighter


@media all and (min-width:300px) and (max-width: 900px) {
    body {
        background: #eee;
        font-size: 19px;
    }
}