@keyframes tada {
	from{
		@include scale_3d(1, 1, 1);
	}
	10%, 20% {
		@include scale_3d(.9, .9, .9);
		@include rotate_3d(0, 0, 1, 3deg);
	}
	30%, 50%, 70%, 90% {
		@include scale_3d(1.2, 1.2, 1.2);
		@include rotate_3d(0, 0, 1, -3deg);
	}
	40%, 60%, 80% {
		@include scale_3d(.4, .4, .4);
		@include rotate_3d(0, 0, 1, -5deg);
	}
	to {
		@include scale_3d(1.3, 1.3, 1.3);
	}
}