// Icons Fonts
@font-face
  font-family 'fontello'
  src url('../fontIcon/fontello.eot?83628608')
  src url('../fontIcon/fontello.eot?83628608#iefix') format('embedded-opentype'),
  		url('../fontIcon/fontello.woff2?83628608') format('woff2'),
      url('../fontIcon/fontello.woff?83628608') format('woff'),
      url('../fontIcon/fontello.ttf?83628608') format('truetype'),
      url('../fontIcon/fontello.svg?83628608#fontello') format('svg')
  font-weight normal
  font-style normal


[class^="icon-"]:before, [class*=" icon-"]:before
  font-family "fontello"
  font-style normal
  font-weight normal
  speak none
  display inline-block
  text-decoration inherit
  width 1em
  margin-right .2em
  text-align center
  font-variant normal
  text-transform none
  line-height 1em
  margin-left .2em
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale


.icon-icon_next_carousel
  &:before
    content '\e800'

.icon-icon_notificaciones
  &:before
    content '\e801'

.icon-icon_orden_de_trabajo
  &:before
    content '\e803'

.icon-icon_prev
  &:before
    content '\e804'

.icon-icon_prev_carousel
  &:before
    content '\e805'

.icon-icon_submenu
  &:before
    content '\e806'

.icon-icon_tracking_direccion
  &:before
    content '\e807'

.icon-icon_usuario_campo
  &:before
    content '\e808'

.icon-icon_usuario_oficina
  &:before
    content '\e809'

.icon-icon_usuario_viewer
  &:before
    content '\e80a'

.icon-icon_usuarios
  &:before
    content '\e80b'

.icon-icon_usuarios_escoger
  &:before
    content '\e80c'

.icon-icon_video
  &:before
    content '\e80d'

.icon-icon_360
  &:before
    content '\e80e'

.icon-icon_agregar_poste
  &:before
    content '\e80f'

.icon-icon_alert
  &:before
    content '\e810'

.icon-icon_atras
  &:before
    content '\e811'

.icon-icon_buscar
  &:before
    content '\e812'

.icon-icon_cerrar
  &:before
    content '\e813'

.icon-icon_chat
  &:before
    content '\e814'

.icon-icon_chat_archivo
  &:before
    content '\e815'

.icon-icon_chat_cerrar
  &:before
    content '\e816'

.icon-icon_chat_emoji
  &:before
    content '\e817'

.icon-icon_chat_inbox_cerrar
  &:before
    content '\e818'

.icon-icon_chat_play
  &:before
    content '\e819'

.icon-icon_check
  &:before
    content '\e81a'

.icon-icon_close
  &:before
    content '\e81b'

.icon-icon_desplegable
  &:before
    content '\e81c'

.icon-icon_filtro
  &:before
    content '\e81d'

.icon-icon_imagen
  &:before
    content '\e81e'

.icon-icon_next
  &:before
    content '\e81f'

.icon-icon_nuevo
  &:before
    content '\e820'