scroll() {
    &::-webkit-scrollbar
        width 7px
        background #dbe8ec
        border-radius 10px
        margin 5px
        
    &::-webkit-scrollbar-button
        width 0px
        height 0px
        
    &::-webkit-scrollbar-track
        background rgba(210, 210, 210, 0.19)
        border thin solid rgba(210, 210, 210, 0.19)
        -webkit-box-shadow inset 0 0 6px rgba(210, 210, 210, 0.19)
        border-radius 10px
        
    &::-webkit-scrollbar-thumb
        background rgba(105, 105, 105, 0.37)
        border thin solid rgba(105, 105, 105, 0)
        border-radius 10px
}