// Container
flex_box() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

just_content($val){
  -webkit-justify-content: $val;
  -webkit-box-pack: $val;
  -ms-flex-pack: $val;
  justify-content: $val;
}

align_items($val){
  -webkit-align-items: $val;
  -webkit-box-align: $val;
  -ms-flex-align: $val;
  align-items: $val;
}

align_content($val){
  -webkit-align-content: $val;
  -ms-flex-line-pack: $val;
  align-content: $val;
}

flex_direction($val) {
  // -webkit-box-orient: vertical;
  // -webkit-box-direction: normal;
  -webkit-flex-direction: $val;
  -ms-flex-direction: $val;
  flex-direction: $val;
}

flex_wrap($val){
  -webkit-flex-wrap: $val;
  -moz-flex-wrap: $val;
  -ms-flex-wrap: $val;
  flex-wrap: $val;
}

// Pasa dos valores que representan a: 
// flex-direction + flex-wrap
flex_flow($val){
  -webkit-flex-flow: $val;
  -moz-flex-flow: $val;
  -ms-flex-flow: $val;
  -o-flex-flow: $val;
  flex-flow: $val;
}

// Items

// tambien se puede calcular el crecimiento usando el mixin 
// flex y pasando tres valores que corresponden a:
// flex-grow + flew-sherink + flex-basis
// ex: 1 2 100px;
flex($values) {
  -webkit-box-flex: $values;
  -moz-box-flex:  $values;
  -webkit-flex:  $values;
  -ms-flex:  $values;
  flex:  $values;
}

order($val) {
  -webkit-box-ordinal-group: $val;  
  -moz-box-ordinal-group: $val;     
  -ms-flex-order: $val;     
  -webkit-order: $val;  
  order: $val;
}

flex_grow($val){
  -webkit-flex-grow: $val;
  -webkit-box-flex: $val;
  -ms-flex-positive: $val;
  flex-grow: $val;
}

align_self($val){
  -webkit-align-self: $val;
  -ms-flex-item-align: $val;
  -ms-grid-row-align: $val;
  align-self: $val;
}