// Module for compatibility browser
@import 'nib';


// ****** Fonts *******
@import './utils/fonts/index.styl';


// ****** Variables **********
@import './variables/index.styl';


// ******* Mixins ************
@import './mixins/flex/index.styl';


// ******* Utils *************
@import './utils/index.styl';
@import './utils/animation/index.styl';
@import './utils/iconsfonts.styl';

// ***** Reset styles *******
*
    margin 0
    padding 0

body 
    background white


// ****** Modulos *******

// HeaderMain
@import './modules/headerMain/index.styl';

// Elements
@import './modules/footerMain/index.styl';

// FooterMain
@import './modules/footerMain/index.styl';

// ModalBox
@import './modules/utils/index.styl';
