// Transitions

// 1. Acepta todos los parametros que recibe transition
// 		(property duration timing-function delay)
// 		*Para property solo recibe un parametro
@mixin transition($transition) {
  -webkit-transition: $transition;
  transition: $transition;
}

// los sgtes mixins son mas especificos

@mixin transition-property($transition-property) {
  -webkit-transition-property: $transition-property;
  transition-property: $transition-property;
}
@mixin transition-delay($transition-delay) {
  -webkit-transition-delay: $transition-delay;
  transition-delay: $transition-delay;
}
@mixin transition-duration($transition-duration) {
  -webkit-transition-duration: $transition-duration;
  transition-duration: $transition-duration;
}
// ease - ease-in - ease-out - ease-in-out 
// - linear - steps - step-start - step-end 
// - cubic-bezier - inherit
@mixin transition-timing-function($transition-tm-func){
  -webkit-transition-timing-function: $transition-tm-func;
  transition-timing-function: $transition-tm-func;
}

// tiempo de transicion de un efecto con transform
// ex: (4s); 
@mixin transition-transform($transition) {
	-webkit-transition: -webkit-transform $transition;
	-moz-transition: -moz-transform $transition;
	-o-transition: -o-transform $transition;
	transition: transform $transition;
}