
// Animation sliceTop

@keyframes sliceTop {
  0% {
    opacity 0
    transform-origin 50% 0%
    top 245px
  }

  100% {
    opacity 1
    transform-origin 50% 0%
    top 0px
  }
}

@-webkit-keyframes sliceTop {
  0% {
    opacity 0
    transform-origin 50% 0%
    top 245px
  }

  100% {
    opacity 1
    transform-origin 50% 0%
    top 0px
  }
}

@-moz-keyframes sliceTop {
  0% {
    opacity 0
    transform-origin 50% 0%
    top 245px
  }

  100% {
    opacity 1
    transform-origin 50% 0%
    top 0px
  }
}

@-o-keyframes sliceTop {
  0% {
    opacity 0
    transform-origin 50% 0%
    top 245px
  }

  100% {
    opacity 1
    transform-origin 50% 0%
    top 0px
  }
}