// Transform

// ex: (20deg)
@mixin rotate($degrees) {
	-webkit-transform: rotate($degrees);
	-ms-transform: rotate($degrees); // IE9+
	transform: rotate($degrees);
}

// ex:(num, num, num, deg);
// (1, 1, 1, 15deg);
@mixin rotate_3d($degrees...) {
  -webkit-transform: rotate($degrees);
  -ms-transform: rotate($degrees); // IE9+
  transform: rotate($degrees);
}

// ex: (2)
@mixin scale($ratio) {
  -webkit-transform: scale($ratio);
      -ms-transform: scale($ratio); // IE9+
          transform: scale($ratio);
}
// ex: (1,1,1)
@mixin scale_3d($x...){
	-webkit-transform: scale3d($x);
      -ms-transform: scale3d($x); // IE9+
          transform: scale3d($x);
}

// ex: (20px, 10px)
@mixin translate($x, $y) {
  -webkit-transform: translate($x, $y);
      -ms-transform: translate($x, $y); // IE9+
          transform: translate($x, $y);
}

// ex: (10px, 12px, 0)
@mixin translate_3d($x...){
	-webkit-transform: translate3d($x);
      -ms-transform: translate3d($x); // IE9+
          transform: translate3d($x);
}

// ex: (1deg, 1deg)
// recibe valores en positivo y negativo, 
// pueden se iguales o diferentes.
@mixin skew($x, $y) {
  -webkit-transform: skew($x, $y);
      -ms-transform: skewX($x) skewY($y); // IE9+
          transform: skew($x, $y);
}