// duracion de la animacion
@mixin durations($time){
	-webkit-animation-duration: $time;
	animation-duration: $time;
}

// tiempo de repeticion de la animacion
@mixin iteration($iteration){
	-webkit-animation-iteration-count: $iteration;
	animation-iteration-count: $iteration;
}

// timing function
@mixin timing_function($time-func){
	-webkit-animation-timing-function: $time-func;
	animation-timing-function: $time-func;
}