iframe, object, embed, video {
    width 100%
    height 100%
    position absolute
    right 0
    left 0
}

.video-content {
    height 0
    padding-bottom 56.25%
    position relative
    overflow hidden
}
